

.loginBox {
  width: 50%;
  margin-top: 150px;
  text-align: left;
  background: white;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
}

.title{
    color:white;
    margin-top: 10px;
}

.subtitle {
    color:white;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  left:48%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;

}

.registerBtn {
  padding:20px;
  background-color:#578BB8;
  margin-top:20px;
  color:white;
  border:none;
  margin-top: 20px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}



@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  #myLogo{
    margin: 0;
  }

  .loginBox{
    margin: 0;
    padding:20px;
    width: 100%;
    margin-left: 30px;
    margin-top: 50px;
  }

  .registerBtn{
    margin-top: -200px;
    margin-right: -35px;

  }

 

  body {
    padding:0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
}