.categories{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}



li{
    float:left;
}


.profile{
    margin:0 auto;
    background-color: lightgrey;
    width: 50%;
    margin-top: 20px;
    
    padding:20px;

    border:3px solid royalblue;
}

.profilePhoto{
    text-align: center;
    padding:"20px";
}


.textarea{
    width: 80%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border:none;
    background-color: #f8f8f8;
    resize: none;
}

.intro{
   
    
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
}

.editBtn{
    margin-top: -40px;
    padding: 10px;
    width: 100px;
}

.saveBtn {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.categoryBtn {
    padding: 20px;
    width: 200px;
}

.hobbies{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    width: 20%;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    
}


.name{
    font-weight: bold;
    font-size: 30px;
}

.aboutMe{
    background-color: white;
    margin-top: 20px;
    margin-left: 60px;
    border:2px solid #578BB8;
}

.talk{
    background-color: #578BB8;
    border:none;
    margin-top: 10px;
}

.myProfilePhoto{
    border-radius: 50%;
    object-fit: cover;
    height:250px;
    width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.changeProfilePhotoButton{
    background-color: #578BB8;
    border:none;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -20px;
    margin-right: 180px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
}

.credentials{
    color:#707070;
    font-family: Arial, Helvetica, sans-serif;
}

.titleMe{
    color:#578BB8;
    font-weight: bold;
    margin-top: 10px;
    
}

.desc{
    width:80%;
}

.editButton{
    background-color: #578BB8;
    border:none;
    padding:10px;
    width: 80%;
    border-radius: 0;
}

.nextMe{
    background-color: white;
    border:2px solid #578BB8;
    margin-top: 20px;
    margin-left: 50px;
    
}

.myHobbies {
    list-style-type: none;
    padding:20px;
    background-color: #F59391;
    margin-left: 20px;
    color:white;
    font-weight: bold;
    border-radius: 15px;
    margin-bottom: 10px;
}