.categories{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}


li{
    float:left;
}


.profile{
    margin:0 auto;
    background-color: lightgrey;
    width: 50%;
    margin-top: 20px;
    height: 700px;
    padding:20px;
    overflow-y: scroll;
}

.profilePhoto{
    text-align: center;
    padding:"20px";
}


.textarea{
    width: 80%;
   height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.intro{
   
    
    padding: 10px;
    font-size: 20px;
    text-align: left;
    
}

.editBtn{
    margin-top: -40px;
    padding: 10px;
    width: 100px;
}

.saveBtn {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.categoryBtn {
    padding: 20px;
    width: 200px;
}