.userBox {
    background-color: #578BB8;
    margin-right:50px;
    color: white;
    padding: 20px;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 100px;
}

#profilePhoto{
    border-radius: 50%;
    object-fit: cover;
    height:200px;
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reviews{
    text-align:center;
    font-size:4rem;
    margin-bottom:100px;
    color:#578BB8;
}

@media (max-width: 978px) {
   
    .userBox{
      
        margin-left: 80px;
    
    }

    body {
      padding:0;
    }
  
  }